.navbar {
    background-color: #f8f8f8;
    padding: 10px;
}

.navbar .navlink{
    /* color: #333; */
    font-weight: bold;
    margin-right: 10 px;
}
/* .navbar .navlink:hover{
    color: #ff0000;
} */